## check setup.sh for the dedicated of each file
shell=sh
#disable=SC1090  # (can't follow non-constant source): Source path is variable
#disable=SC2086  # (double quote vars): some variables need to expand, remove this for verification
#disable=SC2034  # (unused vars): only for the .onionrc because the variables are not used there
