Source: onionjuggler
Section: misc
Priority: optional
Maintainer: nyxnpor <nyxnor@protonmail.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), dh-exec,
Homepage: https://github.com/nyxnor/onionjuggler
Vcs-Browser: https://github.com/nyxnor/onionjuggler
Vcs-Git: https://github.com/nyxnor/onionjuggler.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: onionjuggler-cli
Architecture: all
Depends: onionjuggler-lib, tor
Recommends: qrencode
Suggests: onionjuggler-auth-server, onionjuggler-auth-client,
 onionjuggler-web, onionjuggler-tui
Description: Onion service management

Package: onionjuggler-lib
Architecture: all
Depends: tor, grep, sed
Recommends: qrencode
Description: Library for OnionJuggler

Package: onionjuggler-tui
Architecture: all
Depends: onionjuggler-cli, whiptail
Recommends:
Description: Dialog boxes for OnionJuggler

Package: onionjuggler-cli-auth
Architecture: all
Depends: onionjuggler-lib, openssl, basez
Recommends:
Description: Authentication scripts for OnionJuggler

Package: onionjuggler-cli-web
Architecture: all
Depends: onionjuggler-lib, nginx
Recommends:
Description: Webserver management by OnionJuggler

