## Copyright (C) 2012 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: onionjuggler
Section: misc
Priority: optional
Maintainer: nyxnpor <nyxnor@protonmail.com>
Build-Depends: debhelper (>= 13), debhelper-compat (= 13), dh-exec,
Homepage: https://github.com/nyxnor/onionjuggler
Vcs-Browser: https://github.com/nyxnor/onionjuggler
Vcs-Git: https://github.com/nyxnor/onionjuggler.git
Standards-Version: 4.5.1
Rules-Requires-Root: no

Package: onionjuggler
Architecture: all
Depends: tor, sudo, grep, sed,
  whiptail,
  openssl, basez,
  tar,
  git, python3, python3-stem,
  nginx | apache2 | dummy-dependency-webserver,
Recommends: qrencode,
Description: Onionjuggler onion services management
  Feature-rich onion service manager for UNIX-like operating
  systems written in POSIX compliant shellscript.
  .
  OnionJuggler is a minimal requirement, portable collection
  of scripts and documentation to help the service operator
  juggle (manage) his onion(s).
  .
  It allows the juggler to easily create and delete serivces,
  authorize, deauthorize and list clients of your onions,
  add, remove and list client-side authentication credentials,
  install, uninstall Vanguards Onion Services addon,
  backup your onion service private keys and configuration,
  spin up webserver with minimal configuration for static pages
