## This rc is a copy of
##   https://github.com/scop/bash-completion/blob/master/.shellcheckrc
## but the commented lines are OnionJuggler choices
shell=bash
disable=SC1090  # not really fixable usually (ever?)
disable=SC2034  # for localizing variables set in called functions
#disable=SC2128  # intentional style choice
disable=SC2206  # suggested alternatives fail in posix mode or use temp files
disable=SC2207  # suggested alternatives fail in posix mode or use temp files

# These disables are to be investigated and decided
#disable=SC2016
#disable=SC2086
#disable=SC2155


## This is onionjuggler rc
source=/dev/null
## disabling 2154 is raw but the variables
## are sourced from a non constant source
disable=SC2154
